fastapi==0.105.2
uvicorn[standard]==0.23.2
requests==2.32.0
pydantic==2.5.1
streamlit==1.29.0
matplotlib==3.8.0
python-multipart==0.0.7
pillow==10.0.0
speechrecognition==3.9.0
pyttsx3==2.90
langchain==0.1.5
faiss-cpu==1.7.4
huggingface-hub==0.20.3
