fastapi>=0.114.1
uvicorn>=0.22.0
requests>=2.31.0
pydantic>=2.5.1
python-multipart>=0.0.6
streamlit>=1.26.0
matplotlib>=3.8.1
pillow>=9.5.0
speechrecognition>=3.9.0
pyttsx3>=2.90
langchain>=0.1.8
faiss-cpu>=1.7.4
huggingface-hub>=1.30.0
